NODE_ENV=development
PORT=3000
DATABASE_URL="postgresql://uk_school_app:replace-with-a-generated-secret@127.0.0.1:5432/uk_school_erp?schema=public"
FILE_STORAGE_DIR="/home/prolay/Projects/storage/uk-school-erp-storage"
STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET=""
